body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50; /* آبی تیره */
    color: #090909;
    text-align: center;
    font-family: 'B Titr';
    font-size: 2rem;
    border-radius: 15px;
    padding: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #188b84;
    font-size: 1.25rem;
    border-radius: 20px;
}

nav a {
    display: flex;
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-family: 'B Badr';
}

.MENU {
    display: flex;
    color: #dcdcdc;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #ecb94a;
    justify-content: right;
    font-size: 1rem;
    padding: 10px;
}

.MENU a {
    display: flex;
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 40px;
    font-size: 1rem;
}

nav a:hover, .MENU a:hover {
    background-color: #555;
    border-radius: 20px;
}

.container {
    padding: 20px;
}

footer {
    background-color: dimgrey;
    text-align: center;
    font-family: 'B Lotus';
    padding: 10px;
    color: #fff;
}

a {
    font-family: 'B Badr';
    font-weight: bold;
}

#tr {
    border-radius: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 1rem;
    color: #dcdcdc;
}